<div class="scrollable">
	<div class="scrollable-content container">

		<form role="form">
				<div class="form-group">
					<label for="name-input">Name</label>
					<input ng-model="item.name" id="name-input" class="form-control" type="text" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="price-input">Price</label>
					<input ng-model="item.price" id="price-input" class="form-control" type="number" placeholder="Price">
				</div>
				<div class="form-group">
					<label for="type-input">Type</label>
					<input ng-model="item.type" id="type-input" class="form-control" type="text" placeholder="Type">
				</div>
				<div class="form-group">
					<label for="type-input">Photo</label>
					
					<div class="row">
						<div class="col-xs-4">
							<div ng-show="item.have_photo" style="text-align:center;background:black;border-radius:10px;">
								<img ng-src="{{img_src}}">
							</div>
							<div ng-hide="item.have_photo"  >
								<button style="width:100%" class="btn btn-lg btn-inverse" >No photo<br/><i class="fa fa-times"></i></button>
							</div>
						</div>
						<div class="col-xs-4">
							<button style="width:100%" class="btn btn-lg btn-danger" ng-click="takePhoto()">CAMERA<br/><i class="fa fa-camera"></i></button>
						</div>
						<div class="col-xs-4">
							<button style="width:100%" class="btn btn-lg btn-info" ng-click="loadPhoto()">LIBRALY<br/><i class="fa fa-folder-open"></i></button>
						</div>
					</div>
				</div>
			</form>
	</div>		
</div>