<div class="scrollable">
	<div class="scrollable-content container">
		
			<section>
				<h1>ประเภทสินค้า</h1>
				<div ng-repeat = "item in types" class="menu">
					<a class="order-name" ng-href="#/order/type/{{item}}">{{item}}</a>
				</div>
				
			</section>
			<section>
				<h1>จำนวนออร์เดอร์</h1>
				<table class="table">
					<thead>
						<tr>
							<th>สินค้า</th>				
							<th>จำนวน</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in carts">
							<td>{{item.name}}</td>
							
							<td> x {{item.count}}</td>
							<td><button ng-click="removeFromCart(item,1)" class="btn btn-danger">-</button>
								<button ng-click="addToCart(item)" class="btn btn-primary">+</button>

							</td>
						<tr>
					</tbody>
				</table>
			</section>
		
	</div>

</div>
<style type="text/css">
				div.menu
				{
					display: inline-block;
					padding-right: 10px;
					padding-bottom: 10px;
				}
				div.menu > a
				{
					padding: 10px;
					display: block;;
					width: 100px;
					height: 100px;
					background:#FACE00; 
					color:white;
					text-align: center;
					font-size: 20px;
				}

				a.order-name
				{
					width: 100px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			</style>