<form role="form" ng-submit="login()">
	<section style="padding:10px;text-align:center;">
		<img src="images/zen-pos-300x121b.png"><br/>
		<span style="font-size:20px;">Point of sales.</span>
	</section>
	<div class="form-group">
		<label for="email-input">Email address</label>
		<input ng-model="email" id="email-input" class="form-control" type="text" required placeholder="Email">
	</div>
	<div class="form-group">
			<label for="password-input">Password</label>
			<input ng-model="password" id="password-input" class="form-control"  required type="password" placeholder="Password">
	</div>
	<div class="form-group btm-btn" style="display:none;">
		<input type="submit"   class="form-control btn btn-primary" value="Login"></input>

	</div>
</form>